
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;

  &__list {
    margin: 0 5px;
  }

  &__button {
    // display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 12px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 35px;
    width: 35px;

    @media (max-width: 420px) {
      width: 32px;
      height: 33px;
    }

    &:hover {
      background-color: #ccc;
    }
  }

  &__ellipsis {
    font-size: 16px;
    font-weight: bold;
  }

  .active {
    button {
      background-color: #333;
      color: #fff;
    }
  }
}

.arrow {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;

  @media (max-width: 420px) {
    margin: 0;
  }

  &:hover {
    background-color: #ccc;
  }

  &.disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
  }
}