.animations {
  margin-top: 20px;
}

$rotate-height: 600px;
.rotateImg {
  display: flex;
  height: $rotate-height;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__c {
    position: absolute;
    max-width: 1600px;
    max-height: 900px;
    width: 1000px;
    height: $rotate-height;
    cursor: pointer;
    will-change: transform, opacity;
  }

  &__front {
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
  }

  &__back {
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  }
}
