@import '../../utils/mixins';

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.toHome {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.signup__success {
  background-color: green;
  color: white;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;

  @include onPhone {
    width: 350px;
  } 

  &__username {
    display: flex;
    flex-direction: row;
    gap: 10px;

    &--item {
      max-width: 195px;
    
      @include onPhone {
        max-width: 170px;
      }
    }
  }

  &__label {
    // margin-bottom: 15px;
    // position: relative;
  }

  &__input {
    box-sizing: border-box;
    padding: 0;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    

    @include onPhone {
      width: 350px;
    }
  }

  &__err {
    margin-bottom: 10px;
    font-size: 14px;

    &--l {
      // margin-bottom: 0;
    }
  }

  &__btn {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-right: 35px;

    @include onPhone {
      width: 50px;
    }
  }
}