@import '../../utils//mixins';

.iwraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--back_ground);
}

.itoHome {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.iform {
  display: flex;
  flex-direction: column;
  width: 400px;

  @include onPhone {
    width: 350px;
  }

  &__input {
    box-sizing: border-box;
    padding: 0;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    color: var(--input_c);
    background-color: var(--input_bc);

    @include onPhone {
      width: 350px;
    }
  }

  &__err {
    margin-bottom: 10px;
    font-size: 14px;

    // &--l {
    //   margin-bottom: 0;
    // }
  }

  &__btn {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
    color: var(--button_c);
    background-color: var(--button_bc);

    @include onPhone {
      width: 50px;
    }
  }
}

.googleBtn {
  margin-top: 10px;
  
}

        // background-color: rgb(24, 26, 27);
        // background-image: none;
        // border-color: rgb(58, 62, 65);
        // color: rgb(192, 186, 178);
        // outline-color: initial;