@import '../../utils//mixins';

.iwraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

.iform {
  display: flex;
  flex-direction: column;
  width: 400px;

  @include onPhone {
    width: 350px;
  }

  &__input {
    box-sizing: border-box;
    padding: 0;
    width: 400px;
    height: 40px;
    padding-left: 10px;

    @include onPhone {
      width: 350px;
    }
  }

  &__err {
    margin-bottom: 10px;
    font-size: 14px;

    // &--l {
    //   margin-bottom: 0;
    // }
  }

  &__btn {
    width: 100px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;

    @include onPhone {
      width: 50px;
    }
  }
}

.googleBtn {
  margin-top: 10px;
}