.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1240px;
  gap: 25px;
  margin-bottom: 30px;

  @media (max-width: 1279px) {
    width: 640px;
  }

  @media (max-width: 679px) {
    width: 420px;
  }

  .categorie {
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    position: relative;
    top: 80%;
    margin-left: 20px;
    font-size: 18px;
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }

  &__carousel {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  
    &__wraper {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}

.promotions {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: 1079px) {
    width: 640px;
  }

  @media (max-width: 679px) {
    width: 100%;
  }

  &__img {
    width: 800px;

    @media (max-width: 1079px) {
      width: 640px;
    }

    @media (max-width: 679px) {
      width: 100%;
    }
  }
}
