.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;

  &__toggle {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dropdown_nav);
    border-radius: 4px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: 'pointer';
  }

  &__item {
    list-style: none;
    text-decoration: none;
    list-style: none;
    cursor: 'pointer';
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    color: var(--green_c);
  }
}

.menu {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--back_ground);

  display: flex;
  justify-content: center;
  padding-top: 50%;
  // flex-direction: column;

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    list-style: none;
    text-decoration: none;
  }
}