:root {
  --back_ground: white;
  --color: black;
  --green_c: green;
  --dropdown_nav: #f1f1f1;
  --input_c: black;
  --input_bc: white;
  --button_c: black;
  --button_bc: white;
}

[data-theme="dark"] {
  --back_ground: #181a1b;
  --color: #e8e6e3;
  --green_c: #72ff72;
  --dropdown_nav: #202324;
  --input_c: white;
  --input_bc: #3b3b3b;
  --button_c: #fff;
  --button_bc: #6b6b6b;
  --color_card: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
